<nav class="navbar">
    <div class="navbar-container">
        <div class="navbar-logo">
            <a href="#">Logo</a>
        </div>
        <ul class="navbar-menu" [ngClass]="{ 'active': isMenuActive }">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Menu</a></li>
            <li><a routerLink="reservation">Reservas</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
        <div class="navbar-toggle" id="navbar-toggle" (click)="toggleMenu()">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>