* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Cuerpo y fondo */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

/* Barra de navegación */
.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5); /* Transparente */
    padding: 10px 20px;
}

/* Contenedor de la barra */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.navbar-logo a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

/* Menú */
.navbar-menu {
    display: flex;
    list-style: none;
}

.navbar-menu li {
    margin: 0 15px;
}

.navbar-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar-menu a:hover {
    color: #ff6347; /* Cambio de color al pasar el cursor */
}

/* Estilos para el toggle  */
.navbar-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.navbar-toggle span {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Estilos responsivos */
@media (max-width: 768px) {
    .navbar-menu {
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
    }

    .navbar-menu.active {
        display: flex;
    }

    .navbar-menu li {
        margin: 10px 0;
    }

    .navbar-toggle {
        display: flex;
    }
}