    <div class="container-form">
    <form class="form" action="reservation" method="post">
        <div>
            <input type="number" name="dinners" id="" placeholder="number of dinners">
        </div>
        <div>
            <input type="date" name="date" id="" placeholder="date">
        </div>
        <div>
            <input type="time" name="hour" id="" placeholder="Hour">
        </div>
        <div>
            <input type="submit" value="reserv">
        </div>
    </form>
</div>
